<div class="header-wrapper-oth">
  <h1 class="oth">Reports Dashboard</h1>
</div>
<div class="form-wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 clearfix">
      <p>Number of available reports:
        <%= @periods.count %></p>
      <p>Today's Date:
        <%= Time.now.strftime("%B %d, %Y %l:%M")%>
      </p>

      <table class="table">
        <th>Date</th>
        <th>Report Name</th>
        <tr>
          <% @periods.each do |period| %>
            <td><%= period.name %></td>
            <td><%= link_to period.name, period_path(period) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
    
    </div>
