<style>
table, th, td, tr {
    border: 1px solid black;
}
td {
  width: 200px;
}
td:first-child {
  width: 100px;
}
</style>
<h1>User Dashboard</h1>

<p>Today's Date: <%= Time.now.strftime("%B %d, %Y %l:%M")%> </p>

<table>
<th>users</th>
<% @users.each do |user| %>
<tr>
<td><%= user.name %></td>
</tr>
<% end %>
</table>
