@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'ABeeZee', 'Ariel', sans-serif;
  text-transform: capitalize;
  height: 100%;
  background-color: #FFF4EB;
  font-size: 1.5em;
}

h1.txn {
  font-size: 1.5em;
  color: #ffbc81;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 1.25em;
}

h1.bdgt {
  font-size: 1.5em;
  color: #f4e9fc;
  font-weight: bold;
  letter-spacing: 1px;
}

h1.oth {
  font-size: 1.5em;
  color: #8D5DAD;
  font-weight: bold;
  letter-spacing: 1px;
}

label {
  font-size: 1.2em;
  letter-spacing: 0.25px;
}

th {
  background-color: #55A893;
  padding: 20px;
  color: #ffbc81;
  font-weight: bold;
  letter-spacing: 1px;
}

input,
textarea {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  input,
  textarea {
    width: 95%;
  }

  span.search input,
  span.submit input {
    width: initial;
  }
}

span.submit input {
  width: initial;
  background-color: #55A893;
  color: #ffbc81;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 1px;
  float: right;
  bottom: 0;
  margin: 20px;
}

span.search input {
  width: initial;
  background-color: #55A893;
  color: #ffbc81;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 1px;
  bottom: 0;
  margin: 10px 0;
}

button:hover, button:active, button > a:hover, button > a:active
span.search input:active,
span.search input:hover,
span.submit input:active,
span.submit input:hover {
  background-color: #ffbc81;
  color: #55A893;
  text-decoration: none;
}

.form-wrapper {
  padding: 30px;
}

.header-wrapper-bdgt {
  padding: 10px 30px;
  background-color: #8D5DAD;
}

.header-wrapper-txn {
  padding: 10px 30px;
  background-color: #55A893;
}

.header-wrapper-oth {
  padding: 10px 30px;
  background-color: #ffbc81;
}


span.box-green {
  margin: 30px 0;
  height: 500px;
  background-color: #55A893;
  display: block;
}

span.box-purple {
  margin: 30px 0;
  height: 500px;
  background-color: #8D5DAD;
  display: block;
}

table,
td,
th,
tr {
  border: 1px solid black;
}

td {
  width: 200px;
}

td:first-child {
  width: 100px;
}

a,
a:active,
a:hover {
  color: #55A893;
}
button > a {
  color: #ffbc81;
  text-decoration: none;
}
button {
  background-color: #55A893;
  color: #ffbc81;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 1px;
  float: right;
}
.lg {
  font-size: 50px;
  color:#55A893;
}
